@import 'mixins.scss';

    @media all and (min-width: 48em) {
    	#value-prop h1{
        padding-top:2.5em;
    }

    #value-prop a{
        text-align: center;
        display: block;
        float: left;
        width: 30% !important;
        margin: 0 1.66666666667%;
        &:first-child{
            width:30% !important;
        }
        
    }
    }


    @media all and (min-width: 61.875em) {

      #value-prop h1{
        padding-top:5.5em;
    }

}

#timeline-embed{
    border:1px solid $gray-border !important;
}

.ponty{
    @include image-style;
}

.shadow{
    margin:0 auto;
    position:relative;
    width:50%;
    img{
        //@include image-style;
        display: inline-block;
        max-width: 100%;
    }
}

.shadow:after,.shadow:before{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 5%;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px #999999;
    -moz-box-shadow: 0 15px 10px #999999;
    box-shadow: 0 15px 10px #999999;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.shadow:after{
    right: 5%;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}