@import 'mixins.scss';

    #value-prop a{
        margin-top: 2em !important;
    }

    @media all and (min-width: 48em) {
    	#value-prop h1{
        padding-top:2.5em;
    }

    #value-prop a{        
        text-align: center;
        display: block;
        float: left;
        width: 30% !important;
        margin: 0 1.66666666667%;
        margin-top: 2em;
        &:first-child{
            width:30% !important;            
        }
        
    }
    }


    @media all and (min-width: 61.875em) {

      #value-prop h1{
        padding-top:4.5em;
      }

    }

#timeline-embed{
    border:1px solid $gray-border !important;
}


hgroup{
    clear: both;
}

.text{
    text-align: center;
    p{
        padding:0.5em 1em;
        margin: 0;
    }
    h1{
        @include gi;
        padding:0 0.5em;    
    }
    .lead{
        font-size: 1.25em;
        padding:0.8em;
    }
}

aside{
    background: #f1f1f1;
    text-align: center;
    padding:2em;
    margin: 1em 0;
    div{
        margin-bottom: 4em;
        &:last-child{
            margin-bottom: 0;
        }
    }
    h3{
        margin: 0;
        margin-bottom: 1em;
        font-family: 'hnb';
    }
    a{
        @extend .s-link;
        margin:0 0.5em;
    }
}

#values aside img{
    max-width: 100%;
    margin: 1em 0.2em;
}

#vision hgroup{
    width:66.66667%;
}

#values hgroup{
    width:66.66667%;
    float: right;   
}

@media all and (min-width: 48em) {
    #values .eq{
        float: right;
    }
    .text{
        width: 66.666667%;
        float: left;
        p{
            width:50%;
            float: left;
            text-align: left;
            &:last-child{
            }
            &.lead{
                text-align: center;
                float: none;
                width: 100%;
            }
        }
    }
    aside{
        width:33.3333333%;
        float: left;
    }
}