@import 'mixins.scss';

    #value-prop a{
        margin-top: 2em !important;
    }

    @media all and (min-width: 48em) {
    	#value-prop h1{
        padding-top:2.5em;
    }

    #value-prop a{        
        text-align: center;
        display: block;
        float: left;
        width: 30% !important;
        margin: 0 1.66666666667%;
        margin-top: 2em;
        &:first-child{
            width:30% !important;            
        }
        
    }
    }


    @media all and (min-width: 61.875em) {

      #value-prop h1{
        padding-top:4.5em;
      }

}

#timeline-embed{
    border:1px solid $gray-border !important;
}