@import 'mixins.scss';

#value-prop{    
    background:url(../img/bg3.jpeg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    a{        
        display: block;
        width:70%;
        text-align: center;
        margin:0 auto;
        margin-top: 2em !important;
        &:first-child{
            margin-bottom: 1em;
        }
        margin-bottom: 1em;
    }
    h1{
        padding-top:1em;
    }
}

#map{
    a{
        display: block;
    }
	width:100%;
    height:18.75em;
   box-shadow: inset 1px 4px 15px -6px; 
   background: url(../img/map.png) center;
}

#main-footer{
    box-shadow: 1px 4px 15px 1px; 
}


#contact-data{
    padding: 0 1em;
    margin: 0 auto;
    p{
        text-align: center;
    }
    strong{
        display:block;
        font-family: 'hnb';
        font-size: 1.125em;
        font-weight:normal;
    }
    a{
        text-decoration: none;
        color: $black;
    }
}

.no-fontface{
        #contact-data strong,form legend{
            font-weight: bold;
        }
}

form{
    padding:0 1em;
    width: 100%;
    input[type="text"],input[type="email"],input[type="tel"],input[type="number"],textarea{
        border:none;
        background:none;
        border:1px solid #ddd;
        background:white;
        padding:0.3em;
    }
    div{
        margin: 1em 0;
    }
    fieldset{
        margin-bottom:2em;
    }
    legend{
        font-family: 'hnb';
        font-size: 1.125em;
        margin-bottom:1em;
    }
    label{
        display: block;
    }
    div{
        padding-left:0.5em;
    }
    p{
        font-size: 0.815em;
        padding-left: 0.8em;
    }
    input[type="submit"]{
        padding:0.5em 0.5em 0.2em 0.5em;
        background:none;
        width:100%;
        @extend .button-black;
    }
    .submit-row{
        clear: both;
    }
}

#type-select,#extra-select{
    label{
        font-weight: normal;
        font-family: 'hn';
    }
    input{
        margin-right:5px;
    }
}

#m2{
    width:80px;
}

@media all and (min-width: 36.25em) {
    #contact-data{
        overflow: hidden;
        p{
            float: left;
            width: 50%;
            text-align: center;
            &.first{
                text-align: center;
                width:100%;
                clear: both;
                margin-bottom: 2em;
            }
        }
    }
}

@media all and (min-width: 48em) {

    form{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        fieldset{
            input[type="text"],input[type="email"],input[type="tel"]{
                width:80%;
            }
            float: left;
            width: 33.333%;
            div,p{
                padding-left:0;
            }
        }
        .submit-row{
            float: none;
            width: 100%;
            text-align: center;
            input{
                width: 33.33333%;
            }
        }
    }

    #message{
        form{
            max-width: 56.25em;
            margin: 0 auto;
            fieldset{
                width: 50%;
            }
            textarea{
                width: 100%;
                height:7em;
            }
        }
    }



    #contact-data p{
        width: 33.3333%;
    }

    #value-prop h1{
        padding-top:2.5em;
    }

    #value-prop a{
        text-align: center;
        display: block;
        float: left;
        width: 30% !important;
        margin: 0 1.66666666667%;
        &:first-child{
            width:30% !important;
        }
        
    }
}

@media all and (min-width: 61.875em) {

      #value-prop h1{
        padding-top:4.5em;
    }

    #map{
        height: 31.25em;
        }
}

@media all and (min-width: 64em){
   

}

