@import url(normalize.css);
/*COLORS*/
/*FONTS*/
@font-face {
  font-family: 'hn';
  src: url("../fonts/helveticaneue-roman-webfont.eot");
  src: url("../fonts/helveticaneue-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-roman-webfont.woff") format("woff"), url("../fonts/helveticaneue-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hnb';
  src: url("../fonts/helveticaneue-bold-webfont.eot");
  src: url("../fonts/helveticaneue-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-bold-webfont.woff") format("woff"), url("../fonts/helveticaneue-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hni';
  src: url("../fonts/helveticaneue-italic-webfont.eot");
  src: url("../fonts/helveticaneue-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-italic-webfont.woff") format("woff"), url("../fonts/helveticaneue-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hnc';
  src: url("../fonts/helveticaneue-condensed-webfont.eot");
  src: url("../fonts/helveticaneue-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-condensed-webfont.woff") format("woff"), url("../fonts/helveticaneue-condensed-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.iconfont {
  text-decoration: none;
  color: #231f20; }
  .iconfont span {
    font-size: 2em; }

/* ICONFONT TEMPLATES

<span aria-hidden="true" data-icon="&#x74;"></span> //telephone
<span aria-hidden="true" data-icon="&#x6d;"></span> //menu
<span aria-hidden="true" data-icon="&#x70;"></span> //marker
<span aria-hidden="true" data-icon="&#x65;"></span> //email

*/
/*HELPERS*/
.clearfix:before, #value-prop div:before,
.clearfix:after,
#value-prop div:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, #value-prop div:after {
  clear: both; }

.clearfix, #value-prop div {
  *zoom: 1; }

/*BUTTONS*/
.button-black, #main-nav a {
  text-transform: uppercase;
  font-family: 'hnc';
  text-decoration: none;
  color: #231f20;
  border: 2px solid #231f20;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-black:hover, .no-touch #main-nav a:hover, #main-nav .no-touch a:hover, .button-black:focus, #main-nav a:focus {
  background: #231f20;
  color: white; }

.button-blue {
  text-transform: uppercase;
  font-family: 'hnc';
  text-decoration: none;
  color: #1072b5;
  border: 2px solid #1072b5;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-blue:hover, .button-blue:focus {
  background: #1072b5;
  color: white; }

.button-white, #value-prop a {
  text-transform: uppercase;
  font-family: 'hnc';
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-white:hover, .no-touch #value-prop a:hover, #value-prop .no-touch a:hover, .button-white:focus, #value-prop a:focus {
  background: white;
  color: #231f20; }

.no-touch .button-black:active, .no-touch #main-nav a:active, #main-nav .no-touch a:active, .no-touch .button-blue:active, .button-white:active, #value-prop a:active {
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  position: relative;
  top: 1px; }

/*ELEMENTS*/
/*ANIMATIONS*/
.cssanimations .animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/
/* Swiper Styles */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease; }

.swiper-slide {
  float: left;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x; }

/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
  width: 100%;
  height: auto; }

html,
button,
input,
select,
textarea {
  color: #231f20; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

* {
  -webkit-box-sizing: border-box;
  /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box;
  /* Firefox 1+ */
  box-sizing: border-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */ }

html {
  background: #fafafa;
  font-size: 1em;
  font-family: 'hn';
  -webkit-transform: translate3d(0, 0, 0);
  min-height: 1400px; }

body {
  height: 100%; }

hr {
  width: 20%;
  margin: 0.5em auto;
  border-top: 2px solid white; }

.disabled {
  display: none; }

#jPanelMenu-menu {
  border-right: 1px solid #d9d8d9;
  left: -1px !important; }
  #jPanelMenu-menu .logo {
    display: none; }
  #jPanelMenu-menu a {
    text-transform: uppercase;
    font-family: 'hnc';
    text-decoration: none;
    color: #231f20;
    border-bottom: 1px solid #d9d8d9;
    display: block;
    padding: 1em; }

#main-nav {
  width: 80%;
  margin: 0 auto; }
  #main-nav ul {
    overflow: hidden;
    text-align: center; }
  #main-nav li {
    display: none; }
  #main-nav a {
    border: none;
    margin: 10px;
    display: block;
    float: left;
    border: 2px solid transparent; }

.no-touch #main-nav a:hover, #main-nav a:focus {
  border: 2px solid #231f20;
  background: none;
  color: #231f20; }

.no-touch #main-nav .logo a:hover, #main-nav .logo a:focus {
  border: none; }

#main-nav .logo {
  display: inline-block; }
  #main-nav .logo a {
    border: none;
    background: none !important; }

#main-header {
  background: #f1f1f1;
  width: 100%;
  overflow: hidden;
  position: relative; }
  #main-header .iconfont {
    width: 10%;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 10%; }
    #main-header .iconfont:last-child {
      right: 0;
      left: auto; }

#value-prop {
  background: url(../img/bg.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 300px; }
  #value-prop h1 {
    font-size: 1.5em;
    color: white;
    padding: 2em 1em 0 1em;
    text-transform: uppercase;
    font-family: 'hnc';
    letter-spacing: 2px;
    text-align: center;
    animation-delay: 1s;
    /* W3C and Opera */
    -moz-animation-delay: 1s;
    /* Firefox */
    -webkit-animation-delay: 1s;
    /* Safari and Chrome */ }
  #value-prop hr {
    animation-delay: 1s;
    /* W3C and Opera */
    -moz-animation-delay: 1s;
    /* Firefox */
    -webkit-animation-delay: 1s;
    /* Safari and Chrome */ }
  #value-prop p {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    color: white;
    text-align: center;
    padding: 0 1em;
    animation-delay: 1.2s;
    /* W3C and Opera */
    -moz-animation-delay: 1.2s;
    /* Firefox */
    -webkit-animation-delay: 1.2s;
    /* Safari and Chrome */ }
  #value-prop div {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    animation-delay: 1s;
    /* W3C and Opera */
    -moz-animation-delay: 1s;
    /* Firefox */
    -webkit-animation-delay: 1s;
    /* Safari and Chrome */ }
  #value-prop a {
    display: block;
    display: none;
    animation-delay: 1.9s;
    /* W3C and Opera */
    -moz-animation-delay: 1.9s;
    /* Firefox */
    -webkit-animation-delay: 1.9s;
    /* Safari and Chrome */ }
    #value-prop a:last-child {
      animation-delay: 1.7s;
      /* W3C and Opera */
      -moz-animation-delay: 1.7s;
      /* Firefox */
      -webkit-animation-delay: 1.7s;
      /* Safari and Chrome */ }
    #value-prop a:first-child {
      animation-delay: 1.5s;
      /* W3C and Opera */
      -moz-animation-delay: 1.5s;
      /* Firefox */
      -webkit-animation-delay: 1.5s;
      /* Safari and Chrome */
      display: block;
      width: 30%;
      text-align: center;
      margin: 0 auto; }

hgroup {
  padding: 2em 0; }
  hgroup h1 {
    text-transform: uppercase;
    font-family: 'hnc';
    letter-spacing: 2px;
    text-align: center; }
  hgroup hr {
    border-color: #231f20; }

.slider ul {
  width: 1725px; }
.slider li {
  float: left;
  margin: 0 10px; }

@media all and (min-width: 48em) {
  #main-header .iconfont {
    display: none; }

  #main-nav {
    width: 100%;
    text-align: center; }
    #main-nav ul {
      display: inline-block;
      text-align: left; }
    #main-nav li {
      margin-top: 2em; }
    #main-nav .logo {
      margin-top: 0; }
    #main-nav li, #main-nav .logo {
      display: block;
      float: left; }

  #value-prop div {
    margin: 0 auto;
    width: 60%; }

  #value-prop a {
    text-align: center;
    display: block;
    float: left;
    width: 30%;
    margin: 0 1.66666666667%; }
    #value-prop a:first-child {
      width: 30%;
      margin: 0 1.66666666667%; } }
.swiper-wrapper {
  height: auto !important; }

.swiper-slide {
  text-align: center;
  padding: 1em 0; }
  .swiper-slide img {
    display: inline-block;
    max-width: 100%; }
  .swiper-slide a {
    text-decoration: none; }
    .swiper-slide a img {
      -webkit-transition: all 0.3s ease-in-out;
      /* Chrome 1-25, Safari 3.2+ */
      -moz-transition: all 0.3s ease-in-out;
      /* Firefox 4-15 */
      -o-transition: all 0.3s ease-in-out;
      /* Opera 10.50–12.00 */
      transition: all 0.3s ease-in-out;
      /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .swiper-slide a:hover img, .swiper-slide a:focus img {
  box-shadow: 0 0 0 8px #1072b5; }

.caption {
  color: #231f20;
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em; }
  .caption span {
    font-size: 0.5em;
    display: block;
    font-family: 'hn';
    font-style: normal; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
