@import url(normalize.css);
/*COLORS*/
/*FONTS*/
@font-face {
  font-family: 'hn';
  src: url("../fonts/helveticaneueltproroman.eot");
  src: url("../fonts/helveticaneueltproroman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltproroman.woff") format("woff"), url("../fonts/helveticaneueltproroman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hnb';
  src: url("../fonts/helveticaneueltprobd.eot");
  src: url("../fonts/helveticaneueltprobd.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltprobd.woff") format("woff"), url("../fonts/helveticaneueltprobd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hni';
  src: url("../fonts/helveticaneueltproit.eot");
  src: url("../fonts/helveticaneueltproit.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltproit.woff") format("woff"), url("../fonts/helveticaneueltproit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hncm';
  src: url("../fonts/helveticaneueltpromdcn.eot");
  src: url("../fonts/helveticaneueltpromdcn.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneueltpromdcn.woff") format("woff"), url("../fonts/helveticaneueltpromdcn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.iconfont {
  text-decoration: none;
  color: #231f20; }
  .iconfont span {
    font-size: 2em; }

/* ICONFONT TEMPLATES

<span aria-hidden="true" data-icon="&#x74;"></span> //telephone
<span aria-hidden="true" data-icon="&#x6d;"></span> //menu
<span aria-hidden="true" data-icon="&#x70;"></span> //marker
<span aria-hidden="true" data-icon="&#x65;"></span> //email
<span aria-hidden="true" data-icon="&#x69;"></span> //interesting
<span aria-hidden="true" data-icon="&#x64;"></span> //data

*/
/*HELPERS*/
.clearfix:before, #value-prop div:before, .pagination:before,
.clearfix:after,
#value-prop div:after,
.pagination:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, #value-prop div:after, .pagination:after {
  clear: both; }

.clearfix, #value-prop div, .pagination {
  *zoom: 1; }

/*BUTTONS*/
.button-black, #main-nav a {
  text-transform: uppercase;
  font-family: 'hncm';
  text-decoration: none;
  color: #231f20;
  border: 2px solid #231f20;
  padding: 0.4em 0.4em 0.1em 0.4em;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-black:hover, .no-touch #main-nav a:hover, #main-nav .no-touch a:hover, .button-black:focus, #main-nav a:focus {
  background: #231f20;
  color: white; }

.button-blue {
  text-transform: uppercase;
  font-family: 'hncm';
  text-decoration: none;
  color: #1072b5;
  border: 2px solid #1072b5;
  padding: 0.4em 0.4em 0.1em 0.4em;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-blue:hover, .button-blue:focus {
  background: #1072b5;
  color: white; }

.button-white, #value-prop a {
  text-transform: uppercase;
  font-family: 'hncm';
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 0.4em 0.4em 0.1em 0.4em;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-white:hover, .no-touch #value-prop a:hover, #value-prop .no-touch a:hover, .button-white:focus, #value-prop a:focus {
  background: white;
  color: #231f20; }

.no-touch .button-black:active, .no-touch #main-nav a:active, #main-nav .no-touch a:active, .no-touch .button-blue:active, .button-white:active, #value-prop a:active {
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  position: relative;
  top: 1px; }

.no-fontface .button-white, .no-fontface #value-prop a, #value-prop .no-fontface a, .no-fontface .button-blue, .no-fontface .button-black, .no-fontface #main-nav a, #main-nav .no-fontface a {
  padding: 0.4em; }

.t-link {
  color: #1072b5;
  text-transform: uppercase;
  font-family: 'hncm';
  text-decoration: none;
  text-transform: uppercase; }
  .t-link span {
    -webkit-transition: all 0.3s ease-in-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.50–12.00 */
    transition: all 0.3s ease-in-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    letter-spacing: 1px;
    border-bottom: 1px solid transparent; }

.s-link, #main-footer p a {
  color: #1072b5;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .s-link:hover, .no-touch #main-footer p a:hover, #main-footer p .no-touch a:hover, .s-link:focus, #main-footer p a:focus {
  border-color: #1072b5; }

.no-touch .s-link:active, .no-touch #main-footer p a:active, #main-footer p .no-touch a:active {
  position: relative;
  top: 1px;
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .t-link span:hover, .t-link span:focus {
  border-bottom: 1px solid #1072b5; }

.no-touch .t-link:active {
  position: relative;
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  left: 1px; }

.aflat {
  color: #231f20;
  padding: 0.5em 0.5em 0.2em 0.5em;
  text-decoration: none;
  float: left;
  text-align: center;
  border: 1px solid #ddd;
  border-right: none;
  margin: 0;
  width: 33.33333%;
  color: #231f20;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }
  .aflat:last-child {
    border-right: 1px solid #ddd; }

.no-touch .aflat:hover, .aflat:focus {
  background: #1072b5;
  color: white; }

.aflat.opened {
  background: #1072b5;
  color: white;
  border-color: #1072b5; }

/*ELEMENTS*/
.image-style, .service img {
  border: 10px solid white;
  -webkit-box-shadow: 0px 0px 0px 1px #d9d8d9;
  /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 0px 0px 0px 1px #d9d8d9;
  /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
  opacity: 0.92; }

.no-touch .image-style:hover, .no-touch .service img:hover, .service .no-touch img:hover, .image-style:focus, .service img:focus {
  opacity: 1; }

.shadow {
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 555px; }
  .shadow img {
    border: 10px solid white;
    -webkit-box-shadow: 0px 0px 0px 1px #d9d8d9;
    /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: 0px 0px 0px 1px #d9d8d9;
    /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    opacity: 0.92;
    display: inline-block;
    max-width: 100%; }
    .shadow img:hover, .shadow img:focus {
      opacity: 1; }

.shadow:after, .shadow:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 5%;
  width: 50%;
  top: 80%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px #999999;
  -moz-box-shadow: 0 15px 10px #999999;
  box-shadow: 0 15px 10px #999999;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.shadow:after {
  right: 5%;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg); }

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #d9d8d9; }

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.arrow_box:before {
  border-color: rgba(217, 216, 217, 0);
  border-bottom-color: #d9d8d9;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.arrow_box_right {
  position: relative;
  background: #fff;
  border: 1px solid #d9d8d9; }

.arrow_box_right:after, .arrow_box_right:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box_right:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 10px;
  top: 50%;
  margin-top: -10px; }

.arrow_box_right:before {
  border-color: rgba(217, 216, 217, 0);
  border-left-color: #d9d8d9;
  border-width: 11px;
  top: 50%;
  margin-top: -11px; }

.arrow_box_left {
  position: relative;
  background: #fff;
  border: 1px solid #d9d8d9; }

.arrow_box_left:after, .arrow_box_left:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box_left:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  top: 50%;
  margin-top: -10px; }

.arrow_box_left:before {
  border-color: rgba(217, 216, 217, 0);
  border-right-color: #d9d8d9;
  border-width: 11px;
  top: 50%;
  margin-top: -11px; }

.arrow_box_bottom, .aflat.opened {
  position: relative;
  background: #1072B5;
  border: 1px solid #1072B5; }

.arrow_box_bottom:after, .aflat.opened:after, .arrow_box_bottom:before, .aflat.opened:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box_bottom:after, .aflat.opened:after {
  border-color: rgba(16, 114, 181, 0);
  border-top-color: #1072B5;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.arrow_box_bottom:before, .aflat.opened:before {
  border-color: rgba(16, 114, 181, 0);
  border-top-color: #1072B5;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

/*ANIMATIONS*/
.cssanimations .animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/
/* Swiper Styles */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease; }

.swiper-slide {
  float: left;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.winphone .swiper-slide {
  float: none; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x; }

/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
  width: 100%;
  height: auto; }

html,
button,
input,
select,
textarea {
  color: #231f20; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

* {
  -webkit-box-sizing: border-box;
  /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box;
  /* Firefox 1+ */
  box-sizing: border-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */ }

html {
  background: #fafafa;
  font-size: 1em;
  font-family: 'hn'; }

body {
  height: 100%; }

hr {
  width: 20%;
  margin: 0.5em auto;
  border-top: 2px solid white; }

.disabled {
  display: none; }

#jPanelMenu-menu {
  border-right: 1px solid #d9d8d9;
  left: -1px !important; }
  #jPanelMenu-menu .logo {
    display: none; }
  #jPanelMenu-menu a {
    text-transform: uppercase;
    font-family: 'hncm';
    text-decoration: none;
    color: #231f20;
    border-bottom: 1px solid #d9d8d9;
    display: block;
    padding: 1em 1em 0.4em 1em; }

#main-nav {
  width: 80%;
  margin: 0 auto; }
  #main-nav ul {
    overflow: hidden;
    text-align: center; }
  #main-nav li {
    display: none; }
  #main-nav a {
    border: none;
    margin: 10px 0.3em;
    display: block;
    float: left;
    border: 2px solid transparent; }

.no-touch #main-nav a:hover, #main-nav a:focus {
  border: 2px solid #231f20;
  background: none;
  color: #231f20; }

.no-touch #main-nav .logo a:hover, #main-nav .logo a:focus {
  border: none; }

#main-nav .logo {
  display: inline-block; }
  #main-nav .logo a {
    border: none;
    background: none !important; }

#main-header {
  background: #f1f1f1;
  width: 100%;
  overflow: hidden;
  position: relative; }
  #main-header .iconfont {
    width: 10%;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 10%; }
    #main-header .iconfont:last-child {
      right: 0;
      left: auto; }

.no-fontface #main-header .iconfont {
  width: 20px;
  height: 20px;
  background: url(../img/phone.png) no-repeat;
  right: 2%;
  bottom: 25%; }
  .no-fontface #main-header .iconfont span {
    display: none; }
.no-fontface #main-header .menu-trigger {
  background: url(../img/menu.png) no-repeat;
  left: 2%; }
  .no-fontface #main-header .menu-trigger span {
    display: none; }

#value-prop {
  margin-bottom: 3em;
  background: url(../img/bg.jpeg) no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 18.75em; }
  #value-prop h1 {
    font-size: 1.5em;
    color: white;
    padding: 3em 1em 0 1em;
    text-transform: uppercase;
    font-family: 'hncm';
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    animation-delay: 1s;
    /* W3C and Opera */
    -moz-animation-delay: 1s;
    /* Firefox */
    -webkit-animation-delay: 1s;
    /* Safari and Chrome */ }
  #value-prop hr {
    animation-delay: 1s;
    /* W3C and Opera */
    -moz-animation-delay: 1s;
    /* Firefox */
    -webkit-animation-delay: 1s;
    /* Safari and Chrome */ }
  #value-prop p {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    color: white;
    text-align: center;
    padding: 0 1em;
    animation-delay: 1.2s;
    /* W3C and Opera */
    -moz-animation-delay: 1.2s;
    /* Firefox */
    -webkit-animation-delay: 1.2s;
    /* Safari and Chrome */ }
  #value-prop div {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    animation-delay: 1s;
    /* W3C and Opera */
    -moz-animation-delay: 1s;
    /* Firefox */
    -webkit-animation-delay: 1s;
    /* Safari and Chrome */ }
  #value-prop a {
    display: block;
    display: none;
    animation-delay: 1.9s;
    /* W3C and Opera */
    -moz-animation-delay: 1.9s;
    /* Firefox */
    -webkit-animation-delay: 1.9s;
    /* Safari and Chrome */
    width: 40%; }
    #value-prop a:last-child {
      animation-delay: 1.7s;
      /* W3C and Opera */
      -moz-animation-delay: 1.7s;
      /* Firefox */
      -webkit-animation-delay: 1.7s;
      /* Safari and Chrome */ }
    #value-prop a:first-child {
      animation-delay: 1.5s;
      /* W3C and Opera */
      -moz-animation-delay: 1.5s;
      /* Firefox */
      -webkit-animation-delay: 1.5s;
      /* Safari and Chrome */
      display: block;
      text-align: center;
      margin: 0 auto; }

hgroup {
  padding: 2em 0; }
  hgroup h1 {
    text-transform: uppercase;
    font-family: 'hncm';
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.375em; }
  hgroup hr {
    border-color: #b8b8b8; }

.slider ul {
  width: 1725px; }
.slider li {
  float: left;
  margin: 0 10px; }

.swiper-container {
  overflow-y: visible !important;
  overflow-x: hidden; }

.swiper-wrapper {
  height: auto !important; }

.swiper-slide {
  height: auto !important;
  text-align: center;
  padding: 0 0 1em 0; }
  .swiper-slide img {
    margin-top: 2px;
    display: inline-block;
    max-width: 100%; }
  .swiper-slide a {
    padding: 0 1px;
    text-decoration: none; }
    .swiper-slide a img {
      -webkit-transition: all 0.3s ease-in-out;
      /* Chrome 1-25, Safari 3.2+ */
      -moz-transition: all 0.3s ease-in-out;
      /* Firefox 4-15 */
      -o-transition: all 0.3s ease-in-out;
      /* Opera 10.50–12.00 */
      transition: all 0.3s ease-in-out;
      /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.pagination {
  width: 105px;
  margin: 0 auto;
  text-align: center; }

.swiper-pagination-switch {
  display: block;
  float: left;
  width: 8px;
  height: 8px;
  padding: 5px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #231f20;
  margin: 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  cursor: pointer; }

.no-touch .swiper-pagination-switch:hover, .swiper-pagination-switch:focus {
  opacity: 1;
  background: #231f20; }

.no-touch .swiper-pagination-switch:active {
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  position: relative;
  top: 1px; }

.swiper-active-switch {
  background: #231f20; }

.caption {
  color: #231f20;
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 1.125em;
  margin-bottom: 0;
  margin-top: 0.8em; }
  .caption span {
    font-size: 0.77777777777em;
    display: block;
    font-family: 'hn';
    font-style: normal; }

#services {
  overflow: hidden; }

.service {
  display: block;
  color: #231f20;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2em; }
  .service:last-child {
    margin-bottom: 0; }
  .service img {
    -webkit-transition: all 0.3s ease-in-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.50–12.00 */
    transition: all 0.3s ease-in-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    border-radius: 50%; }
  .service h2 {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    margin: 1em 0 0.5em 0; }
  .service p {
    margin: 0;
    padding: 0 1em; }

.no-touch .service:active img {
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  position: relative;
  top: 1px; }

#latest {
  text-align: center; }
  #latest h2 {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0; }
  #latest div {
    margin-bottom: 2em;
    padding: 0 1em; }
  #latest p {
    padding: 0 1em; }
  #latest .t-link {
    margin: 1em 0 0 0;
    display: block; }

#property a {
  text-align: center;
  text-decoration: none;
  color: #231f20; }
#property img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
#property h2 {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 1.125em; }

.cta {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 2em 0;
  background: #DDDDDD; }
  .cta a {
    font-size: 1.5em; }

#main-footer {
  background: #f1f1f1;
  clear: both;
  padding-top: 1.2em; }
  #main-footer .icons {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #d9d8d9;
    padding-bottom: 1em; }
    #main-footer .icons a {
      width: 33.33333%;
      float: left;
      text-align: center;
      -webkit-transition: all 0.3s ease-in-out;
      /* Chrome 1-25, Safari 3.2+ */
      -moz-transition: all 0.3s ease-in-out;
      /* Firefox 4-15 */
      -o-transition: all 0.3s ease-in-out;
      /* Opera 10.50–12.00 */
      transition: all 0.3s ease-in-out;
      /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
      word-wrap: break-word; }
      #main-footer .icons a b {
        font-weight: normal;
        display: none; }
  #main-footer a img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 2em 0 1em 0; }
  #main-footer p {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1em; }

.no-fontface #main-footer .icons a span {
  display: none; }
.no-fontface #main-footer .icons a b {
  display: block; }

.no-touch #main-footer .icons a:hover, #main-footer .icons a:focus {
  color: #1072b5; }

#main-content section {
  margin-bottom: 2em; }

#footer-nav ul {
  overflow: hidden;
  text-align: center; }
#footer-nav li {
  width: 50%;
  float: left;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }
#footer-nav a {
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  text-decoration: none;
  text-align: center;
  color: #231f20;
  border-bottom: 1px solid #d9d8d9;
  display: block;
  padding: 1em; }
  #footer-nav a:nth-child(odd) {
    border-right: 1px solid #d9d8d9; }

.certification {
  overflow: hidden;
  text-align: center;
  width: 100%; }
  .certification img {
    display: inline;
    width: 50px; }

.no-touch #footer-nav li:hover, #footer-nav li:focus {
  background: #1072b5; }
  .no-touch #footer-nav li:hover a, #footer-nav li:focus a {
    color: white; }

@media all and (min-width: 48em) {
  #value-prop h1 {
    font-size: 1.875em;
    padding-top: 1.5em; }
  #value-prop p {
    font-size: 1.5em; }
  #value-prop div {
    width: 40em;
    margin: 0 auto; }
  #value-prop a {
    font-size: 1.3em;
    border-width: 3px;
    width: 30% !important; }

  hgroup h1 {
    font-size: 1.875em; }

  .caption, #property h2 {
    font-size: 1.5em; }

  .caption span {
    font-size: 0.6em; }

  .aflat {
    padding: 1em !important; }
    .aflat br {
      display: none; }

  #main-footer .icons a b {
    display: block;
    font-size: 0.8em; }

  #main-footer .icons {
    padding-bottom: 2em; }

  #latest, #property {
    float: left;
    width: 50%; }

  .service {
    width: 50%;
    float: left; }
    .service:last-child {
      clear: both;
      float: none; }

  #main-header .iconfont {
    display: none; }

  #main-nav {
    width: 100%;
    text-align: center;
    font-size: 0.875em; }
    #main-nav ul {
      display: inline-block;
      text-align: left;
      width: 100%;
      max-width: 68.5em; }
    #main-nav li {
      margin-top: 2em;
      width: 13%;
      text-align: center;
      padding: 0.4em 0 0.2em 0;
      margin-left: 0.1%;
      margin-right: 0.1%; }
      #main-nav li a {
        float: none;
        margin: 0;
        padding: 0.4em 0 0.2em 0; }
    #main-nav .logo {
      margin-top: 0;
      width: 20%; }
    #main-nav li, #main-nav .logo {
      display: block;
      float: left; }

  #value-prop a {
    text-align: center;
    display: block;
    float: left;
    width: 40%;
    margin: 0 1.66666666667%; }
    #value-prop a:first-child {
      margin: 0 1.66666666667%; }

  #footer-nav li {
    width: 33.333%; } }
@media all and (min-width: 61.875em) {
  #value-prop {
    height: 31.25em; }
    #value-prop h1 {
      font-size: 2em;
      padding-top: 4em; }
    #value-prop p {
      font-size: 1.5em; }

  #main-nav {
    font-size: 1em; }
    #main-nav ul {
      margin: 0 auto; }
    #main-nav li {
      width: 12%;
      margin: 2em 0.5%; }
    #main-nav li a {
      padding-top: 0.55em; }

  #footer-nav, #main-footer .icons {
    width: 61.875em;
    margin: 0 auto; }

  #main-footer .icons {
    border-bottom: none; }

  #footer-nav a {
    border: none; }

  #footer-nav li {
    border-bottom: none;
    border-top: 1px solid #d9d8d9; }
    #footer-nav li:first-child, #footer-nav li:nth-child(4) {
      border-left: 1px solid #d9d8d9; }
    #footer-nav li:nth-child(4), #footer-nav li:nth-child(5), #footer-nav li:nth-child(6) {
      border-bottom: 1px solid #d9d8d9; } }
@media all and (min-width: 63.875em) {
  .swiper-slide img {
    width: 95%; } }
@media all and (min-width: 64em) {
  #main-header {
    padding-bottom: 5em; }

  #value-prop, #main-content {
    top: -4em;
    position: relative; }

  .service {
    width: 33.3333%;
    float: left; }
    .service:last-child {
      clear: none;
      float: left; } }
@media all and (min-width: 71.25em) {
  #main-content {
    max-width: 71.25em;
    margin: 0 auto; }

  #value-prop h1, #value-prop hr, #value-prop div {
    max-width: 71.25em; } }
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
