@import 'mixins.scss';
@import 'normalize.css';

html,
button,
input,
select,
textarea {
    color: $black;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox 1+ */
          box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}


html{
    background:$white;
    font-size: 1em;
    font-family: 'hn';
    //-webkit-transform: translate3d(0, 0, 0);
}

body{
    height:100%;
}

hr{
    width: 20%;
    margin: 0.5em auto;
    border-top:2px solid white;
}

.disabled{
    display: none;
}

#jPanelMenu-menu{
    border-right:1px solid $gray-border;
    left:-1px !important;
    .logo{
        display:none;
    }
    a{
        @include hnc;
        text-decoration: none;
        color:$black;
        border-bottom:1px solid $gray-border;
        display:block;
        padding:1em 1em 0.4em 1em;
    }
}

#main-nav {
    width:80%;
    margin: 0 auto;
    ul{
        overflow: hidden;
        text-align: center;
    }
    li{
        display:none;
    }
    a{
        @extend .button-black;
        border: none;
        margin: 10px 0.3em;
        display:block;
        float: left;
        border:2px solid transparent;
    }
}

.no-touch #main-nav a:hover,#main-nav a:focus{
    border:2px solid $black;
    background:none;
    color:$black;
}

.no-touch #main-nav .logo a:hover,#main-nav .logo a:focus{
    border:none;
}

#main-nav .logo{
    display: inline-block;
    a{
        border:none;
        background:none !important;
    }
}

#main-header{
    background:$gray;
    width:100%;
    overflow: hidden;
    position:relative;
    .iconfont{
        width:10%;
        position:absolute;
        text-align: center;
        left:0;
        bottom:10%;
        &:last-child{
            right:0;
            left:auto;
        }
    }
}

.no-fontface #main-header{
    .iconfont{
            width:20px;
            height:20px;
            background:url(../img/phone.png) no-repeat;
            right: 2%;
            bottom: 25%;
            span{
                display:none;
            }
    }

    .menu-trigger{
            background:url(../img/menu.png) no-repeat;
            left: 2%;
            span{
                display:none;
            }
    }
}

#value-prop{
    margin-bottom:3em;
    background:url(../img/bg.jpeg) no-repeat center top;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height:18.75em;
    h1{
        font-size: 1.5em;
        color:white;
        padding: 3em 1em 0 1em;
        @include heading;
        @include delay; 
    }
    hr{
        @include delay;
    }
    p{
        max-width: 30em;
        margin-left:auto;
        margin-right:auto;
        @include gi;
        color:white;
        text-align: center;
        padding:0 1em;
        @include delay(1.2s);
    }
    div{
        @extend .clearfix;
        padding-bottom:0.5em;
        padding-top:0.5em;
        @include delay(1s);
    }
    a{
        @extend .button-white;
        display:block;
        display:none;
        @include delay(1.9s);
        width:40%;
        &:last-child{
            @include delay(1.7s);
        }

        &:first-child{
            @include delay(1.5s);
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    }
}

//#main-content > section{
//    padding: 0 1em;
//}

hgroup{
    padding:2em 0;
    h1{
        @include heading;
        font-size:1.375em;
    }
    hr{
        border-color:#b8b8b8;
    }
}

.slider{
    ul{
        width:1725px;
    }
    li{
        float: left;
        margin:0 10px;
    }
}

.swiper-container{
    overflow-y: visible !important;
    overflow-x: hidden;
}

.swiper-wrapper{
    height: auto !important;
}

.swiper-slide{
    height:auto !important;
    text-align: center;
    padding:0 0 1em 0;
    img{
        margin-top: 2px;
        display: inline-block;
        max-width: 100%;
    }
    a{
        padding:0 1px;
        text-decoration: none;
        img{
            @include t;
        }
    }
}

.pagination{
    width:105px;
    margin:0 auto;
    text-align:center;
    @extend .clearfix;
}

.swiper-pagination-switch{
    display: block;
    float:left;
    width: 8px;
    height: 8px;
    padding:5px;
    border-radius: 100%;
    background: transparent;
    border:1px solid $black;
    margin: 0 10px;
    @include t;
    cursor:pointer;
}

.no-touch .swiper-pagination-switch:hover,.swiper-pagination-switch:focus{
    opacity:1;
    background:$black;
}

.no-touch .swiper-pagination-switch:active{
    @include t(none); 
    position:relative; 
    top:1px;
}

.swiper-active-switch{
    background:$black;
}


.caption{    
    color:$black;
    @include gi;
    font-size: 1.125em;
    margin-bottom:0;
    margin-top:0.8em;
    span{
        font-size:0.77777777777em;
        display: block;
        font-family: 'hn';
        font-style: normal;
    }
}

#services{
    overflow: hidden;
}

.service{
    display:block;
    color: $black;
    text-decoration: none;
    text-align: center;
    margin:0 auto;
    margin-bottom: 2em;
    &:last-child{
        margin-bottom: 0;
    }
    img{
        @include t;
        @extend .image-style;
        border-radius:50%;
    }
    h2{
        @include gi;
        margin: 1em 0 0.5em 0;
    }
    p{
        margin:0;
        padding:0 1em;
    }
}

.no-touch .service:active img{
    @include t(none);
    position: relative;
    top: 1px;
}

#latest{
    text-align: center;
    h2{
        @include gi;
        margin-bottom: 0.5em;
        margin-top: 0;
    }
    div{
        margin-bottom:2em;
        padding: 0 1em;
    }
    p{
        padding: 0 1em;
    }
    .t-link{
        margin: 1em 0 0 0;
        display: block;
    }
}

#property{
    a{
        text-align: center;
        text-decoration: none;
        color: $black;
    }
    img{
        display: block;
        max-width: 100%;
        margin: 0 auto;
        @include t; 
        -webkit-transform:translate3d(0,0,0);
        -o-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
    }
    h2{
        @include gi;
        font-size: 1.125em;
    }
}

.cta{
    clear: both;
    width: 100%;
    text-align: center;
    padding:2em 0;
    background:#DDDDDD;
    
    a{
        font-size: 1.5em;
    }
}

#main-footer{
    background: $gray;
    clear:both;
    padding-top:1.2em;
    .icons{
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid $gray-border;
        //font-size: 1.2em;
        padding-bottom:1em;
        a{
            width: 33.33333%;
            float: left;
            text-align: center;
            @include t;
            word-wrap: break-word;
            b{
                font-weight: normal;
                display: none;
            }
        }
    }
    a img{
        max-width: 100%;
        margin: 0 auto;
        display: block;
        padding:2em 0 1em 0;
    }
    p{
        text-align: center;
        margin-bottom: 0;
        padding-bottom:1em;
        a{
            @extend .s-link;
        }
    }
}

.no-fontface{
    #main-footer .icons a{
        span{
            display: none;
        }
        b{
            display:block;
        }
    }
}

.no-touch #main-footer .icons a:hover,#main-footer .icons a:focus{
    color: $blue;
}


#main-content section{
    margin-bottom:2em;
}

#footer-nav{
    ul{
        overflow: hidden;
        text-align: center;
    }
    li{
        width: 50%;
        float: left;
        @include t;
    }
    a{
        @include t;
        text-decoration: none;
        text-align: center;
        color: $black;
        border-bottom: 1px solid $gray-border;
        display:block;
        padding:1em;
        &:nth-child(odd){
            border-right:1px solid $gray-border;
        }
    }
}

.certification{
    overflow: hidden;    
    text-align: center;
    width: 100%;
    img{
        display: inline;
        width: 50px;
    }
}

.no-touch #footer-nav li:hover,#footer-nav li:focus{
    background:$blue;
    a{
        color:white;
    }
}

    #property,#newest-projects{
        padding:0 1em;
    }
 @media all and (min-width: 48em) {

    #value-prop{
        h1{
            font-size: 1.875em;
            padding-top:1.5em;
        }
        p{
            font-size: 1.5em;
        }
        div{
            width: 40em;            
            margin: 0 auto;
        }
        a{
            font-size: 1.3em;
            border-width: 3px;
            width: 30% !important;
        }
    }

    hgroup h1{
        font-size:1.875em;
    }

    .caption,#property h2{
        font-size: 1.5em;
    }

    .caption span{
        font-size: 0.6em;
    }    

    .aflat{
        br{
            display: none;
        }
        padding:1em !important;
    }

    #main-footer .icons a b{
        display: block;
        font-size: 0.8em;
    }

    #main-footer .icons{
        padding-bottom:2em;
    }

    #latest,#property{
        float:left;
        width: 50%;
    }

    .service{
        width:50%;
        float:left;
        &:last-child{
            clear:both;
            float: none;
        }
        &:last-child{

        }
    }



    #main-header .iconfont{
        display:none;
    }

    #main-nav{
        width:100%;
        text-align: center;
        font-size: 0.875em;
        ul{
            display: inline-block;
            text-align: left;
            width:100%;
            max-width: 68.5em;
        }
        li{
            margin-top:2em;
            width:13%;
            text-align: center;
            padding:0.4em 0 0.2em 0;
            margin-left:0.1%;
            margin-right:0.1%; 
            a{
                float: none;
                margin: 0;
                padding:0.4em 0 0.2em 0;
            }
        }
        
        .logo{
            margin-top:0;
            width:20%;
        }
        li,.logo{
            display:block;
            float:left;
        }
    }

    #value-prop a{
        text-align: center;
        display: block;
        float: left;
        width: 40%;
        &:first-child{
            margin:0 1.66666666667%;
        }
        margin:0 1.66666666667%;
    }

    #footer-nav li{
        width: 33.333%;
    }
 }

 @media all and (min-width: 36.875em) {
        .swiper-slide a img, #property img{
            
        }

 }

@media all and (min-width: 61.875em) {

    #value-prop{
        height: 31.25em;
        h1{
            font-size: 2em;
            padding-top:4em;
        }
        p{
            font-size: 1.5em;
        }
    }

    #main-nav{
            ul{
                margin: 0 auto;
            }
            font-size: 1em;
            li{
                width: 12%;
                margin: 2em 0.5%;
            }
            li a{
                padding-top:0.55em;
            }
    }

    #footer-nav,#main-footer .icons{
        width: 61.875em;
        margin: 0 auto;
    }

    #main-footer .icons{
        border-bottom:none;
    }

    #footer-nav a{
        border:none;
    }

    #footer-nav li{
        border-bottom:none;
        border-top:1px solid $gray-border;
        &:first-child,&:nth-child(4){
            border-left:1px solid $gray-border;
        }
        &:nth-child(4),&:nth-child(5),&:nth-child(6){
            border-bottom: 1px solid $gray-border;
        }
    }
}

@media all and (min-width: 63.875em){
        .swiper-slide img{
        width: 95%;
    }
}

@media all and (min-width: 64em){
    #main-header{
        padding:1.5em 0 0.5em 0;
    }


    .service{
        width: 33.3333%;
        float:left;
        &:last-child{
            clear: none;
            float: left;
        }
    }
}

@media all and (min-width: 71.25em) {
    #main-content{
        max-width: 71.25em;
        margin:0 auto; 
    }
    #value-prop h1,#value-prop hr,#value-prop div{
        max-width: 71.25em;
    }
}


@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
