/*COLORS*/

$burgundy: #971E26;
$blue: #1072B5;
$black: #231F20;

$white: #FAFAFA;
$gray: #F1F1F1;

$gray-border:#D9D8D9;


/*FONTS*/

@font-face {
    font-family: 'hn';
    src: url('../fonts/helveticaneueltproroman.eot');
    src: url('../fonts/helveticaneueltproroman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltproroman.woff') format('woff'),
         url('../fonts/helveticaneueltproroman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hnb';
    src: url('../fonts/helveticaneueltprobd.eot');
    src: url('../fonts/helveticaneueltprobd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltprobd.woff') format('woff'),
         url('../fonts/helveticaneueltprobd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hni';
    src: url('../fonts/helveticaneueltproit.eot');
    src: url('../fonts/helveticaneueltproit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltproit.woff') format('woff'),
         url('../fonts/helveticaneueltproit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hncm';
    src: url('../fonts/helveticaneueltpromdcn.eot');
    src: url('../fonts/helveticaneueltpromdcn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltpromdcn.woff') format('woff'),
         url('../fonts/helveticaneueltpromdcn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.iconfont{
	text-decoration:none;
	color:$black;
	span{
		font-size: 2em;
	}	
}

/* ICONFONT TEMPLATES

<span aria-hidden="true" data-icon="&#x74;"></span> //telephone
<span aria-hidden="true" data-icon="&#x6d;"></span> //menu
<span aria-hidden="true" data-icon="&#x70;"></span> //marker
<span aria-hidden="true" data-icon="&#x65;"></span> //email
<span aria-hidden="true" data-icon="&#x69;"></span> //interesting
<span aria-hidden="true" data-icon="&#x64;"></span> //data

*/


@mixin gi{
	font-family:Georgia;
	font-style:italic;
	font-weight:normal;
}

@mixin hnc{
	text-transform:uppercase;
	font-family:'hncm';
}

/*HELPERS*/

@mixin t($what:all, $dur:0.3s, $ease:ease-in-out){
	-webkit-transition: $what $dur $ease;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: $what $dur $ease;  /* Firefox 4-15 */
	-o-transition: $what $dur $ease;  /* Opera 10.50–12.00 */
	transition: $what $dur $ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@mixin delay($dur:1s){
	animation-delay:$dur; /* W3C and Opera */
	-moz-animation-delay:$dur; /* Firefox */
	-webkit-animation-delay:$dur; /* Safari and Chrome */
}

/*BUTTONS*/

.button-black{
	@include hnc;
	text-decoration:none;
	color:$black;
	border:2px solid $black;
	padding:0.4em 0.4em 0.1em 0.4em;
	line-height:1.5;
	@include t;
}

.no-touch .button-black:hover, .button-black:focus{
	background:$black;
	color:white;
}

.button-blue{
	@include hnc;
	text-decoration:none;
	color:$blue;
	border:2px solid $blue;
	padding:0.4em 0.4em 0.1em 0.4em;
	line-height:1.5;
	@include t;
}

.no-touch .button-blue:hover, .button-blue:focus{
	background:$blue;
	color:white;
}

.button-white{
	@include hnc;
	text-decoration:none;
	color:white;
	border:2px solid white;
	padding:0.4em 0.4em 0.1em 0.4em;
	line-height:1.5;
	@include t;
}

.no-touch .button-white:hover, .button-white:focus{
	background:white;
	color:$black;
}

.no-touch .button-black:active,.no-touch .button-blue:active,.button-white:active{
	@include t(none);
	position:relative;
	top:1px;
}


.no-fontface{
	.button-white,.button-blue,.button-black{
		padding:0.4em;
	}
}

.t-link{
	color:$blue;
	@include hnc;
	text-decoration:none;
	text-transform:uppercase;
	span{
		@include t;
		letter-spacing:1px;
		border-bottom:1px solid transparent;
	}
}

.s-link{
	color: $blue;
    text-decoration: none;
    border-bottom:1px solid transparent;
    @include t;
}

.no-touch .s-link:hover,.s-link:focus{
    border-color:$blue;
}

.no-touch .s-link:active{
    position: relative;
    top: 1px;
    @include t(none);
}

.no-touch .t-link span:hover,.t-link span:focus{
	border-bottom:1px solid $blue;
}

.no-touch .t-link:active{
	position: relative;
	@include t(none);
	left:1px;
}

.aflat{
	//@extend .button-black;
	color:$black;
	padding:0.5em 0.5em 0.2em 0.5em;
	text-decoration: none;
	float:left;
	text-align: center;
	border:1px solid #ddd;
	border-right:none;
	margin:0;
	width:33.33333%;
	color: $black;
	@include t;
	&:last-child{
		border-right:1px solid #ddd;
	}
}

.no-touch .aflat:hover,.aflat:focus{
	background:$blue;
	color:white;
}

.aflat.opened{
	background:$blue;
	color:white;
	border-color:$blue;
	@extend .arrow_box_bottom;
}

/*ELEMENTS*/

.image-style{
	border:10px solid white;
	-webkit-box-shadow: 0px 0px 0px 1px $gray-border; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: 0px 0px 0px 1px $gray-border; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	opacity:0.92;
}

@mixin image-style{
	border:10px solid white;
	-webkit-box-shadow: 0px 0px 0px 1px $gray-border; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: 0px 0px 0px 1px $gray-border; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	opacity:0.92;
	&:hover,&:focus{
		opacity: 1;
	}	
}

.no-touch .image-style:hover,.image-style:focus{
	opacity:1;
}


.shadow{
    @include t;
    margin:0 auto;
    position:relative;
    width:auto;
    max-width: 555px;
    img{
        @include image-style;
        display: inline-block;
        max-width: 100%;
    }
}

.shadow:after,.shadow:before{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 5%;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px #999999;
    -moz-box-shadow: 0 15px 10px #999999;
    box-shadow: 0 15px 10px #999999;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.shadow:after{
    right: 5%;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

@mixin heading{
	@include hnc;
	letter-spacing:2px;
	text-align: center;
	text-transform:uppercase;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #d9d8d9;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(217, 216, 217, 0);
	border-bottom-color: #d9d8d9;
	border-width: 11px;
	left: 50%;
	margin-left: -11px;
}

.arrow_box_right {
	position: relative;
	background: #fff;
	border: 1px solid #d9d8d9;
}
.arrow_box_right:after, .arrow_box_right:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_right:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.arrow_box_right:before {
	border-color: rgba(217, 216, 217, 0);
	border-left-color: #d9d8d9;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}

.arrow_box_left {
	position: relative;
	background: #fff;
	border: 1px solid #d9d8d9;
}
.arrow_box_left:after, .arrow_box_left:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_left:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.arrow_box_left:before {
	border-color: rgba(217, 216, 217, 0);
	border-right-color: #d9d8d9;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}

.arrow_box_bottom {
	position: relative;
	background: #1072B5;
	border: 1px solid #1072B5;
}
.arrow_box_bottom:after, .arrow_box_bottom:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_bottom:after {
	border-color: rgba(16, 114, 181, 0);
	border-top-color: #1072B5;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.arrow_box_bottom:before {
	border-color: rgba(16, 114, 181, 0);
	border-top-color: #1072B5;
	border-width: 11px;
	left: 50%;
	margin-left: -11px;
}

/*ANIMATIONS*/
.cssanimations{

	.animated {
		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		-ms-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
		-ms-animation-duration: 1s;
		-o-animation-duration: 1s;
		animation-duration: 1s;
	}

}

.animated.hinge {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}




/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* Swiper Styles */
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	
	-ms-transition-property:-ms-transform;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
	
}
.swiper-slide {
	float:left;
	-webkit-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.winphone{
	.swiper-slide{
		float: none;
	}
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
	width:100%;
	height:auto;
}


