@import 'mixins.scss';

.aflat{
	padding:1em 1em 0.6em 1em;
	width: 32%;
	margin:0 0.66666666667%;
	font-size:0.9em;
}

#extra-bar{
	overflow:hidden;
	padding:1em 0;
}

#value-prop{
	a{
		&:first-child{
			width:70%;
			margin-bottom: 2em;
		}
		display: block;
		width:70%;
		text-align: center;
		margin:0 auto;
	}
	h1{
		padding-top:1em;
	}
}


.arrow_box{
	display:none;
	width:90%;
	margin:0 auto;
	padding:1em;
	ul{
		list-style-type: none;
	}
	li{
		margin-bottom: 1em;
		a{
			@extend .s-link;
		}
	}
	h4{
		@include hnc;
		margin: 0;
	}
	p{
		margin: 0;
	}
}

#extra-data::before,#extra-data::after{
	left:15%;
}


#extra-interesting{
	strong{
		font-family: 'hnb';
		font-size: 3em;
		text-align: right;
		width:55%;
		float: left;
	}
	span{
		width: 45%;
		float:left;
		padding-left:1em;
		line-height: 4.5;
	}
	p{
		overflow: hidden;
	}
}

article{

	width:100%;
	padding-top:2em;
	p{
		padding:0.5em 1em;
		margin: 0;
	}
	h1{
		@include gi;
		padding:0 0.5em;	
	}

	hgroup h1{
		@include heading;
		font-style: normal;
		padding:0;
	}

	.lead{
		font-size: 1.25em;
		padding:0.8em;
	}
	figure{
		img{
			max-width: 100%;
			margin: 1em auto 0 auto;
			display: block;
			@include t;
		}
		figcaption{
			@include gi;
			text-align: center;
			font-size: 1.5em;
			margin-bottom: 0;
			margin-top: 0.8em;
			margin-bottom: 1em;
		}
	}
	.testimonial{
		background: #ddd;
		padding:1em;
		margin: 1em 0;
		font-family: 'hni';
		footer{
			margin-top:1em;
			text-align: right;
		}
		img{
			display: none;
		}
	}

	footer{
		background:#ddd;
		padding:1em 1em 2em 1em;
		overflow: hidden;
		div{
			width: 50%;
			float: left;
		}
		text-align: center;
		a{
			display: inline-block;
			@extend .s-link;
		}
	}
}


 @media all and (min-width: 36.875em) {
        article figure img{
            @include image-style;
        }
 }

@media all and (min-width: 25em) {
	#value-prop a,#value-prop a:first-child{
		width: 50%;
	}
}

@media all and (min-width: 48em) {

	.arrow_box{
		ul{
			overflow: hidden;
		}
		li{
			width: 50%;
			float: left;
		}
	}

    #value-prop a{
        text-align: center;
        display: block;
        float: left;
        width: 45%;
        &:first-child{
            width:45%;
            margin:0em 10% 0 0;
        }
        margin:0em 0;
    }

    article{
    	h1{
    		text-align: center;
    		margin-bottom: 1em;
    	}
    	.lead{
    		margin-bottom: 1em;
    		text-align: center;
    		clear: both;
    		float: none;
    		width: 100%;
    	}
    	p{
    		float: left;
    		width: 50%;
    	}
    	figure{
    		overflow: hidden;
    		clear: both;
    		padding-top:1em;
    		p{
    			float: left;
    			width:50%;
    		}
    		img{
    			float: left;
    			width: 50%;
    		}
    	}
    	.testimonial{
    		padding: 0;
    		overflow: hidden;
			img{
				display: block;
				width: 50%;
				float: right;
			}
			blockquote{
				padding:1em 1em;
				margin: 0;
				float: right;
				width: 50%;
			}
    	}
    	#gallery{
    		clear: both;
    	}
    }

 }

 @media all and (min-width: 64.0625em){
 	.arrow_box{
 		li{
 			width:33.33333%;
 		}
 	}
 }