@import 'mixins.scss';

#value-prop{
	h1{
		padding-top:2em;
	}
	background:url(../img/bg4.jpeg) no-repeat top center;
	background-attachment: fixed;
	background-size: cover;
	a{
		&:first-child{
			width:70%;
			margin-top: 2em;
			margin-bottom: 2em;
		}
		display: block;
		width:70%;
		text-align: center;
		margin:0 auto;
	}
}

.reference{
	margin-bottom:2em;
	text-align:center;
	img{
		        -webkit-transform:translate3d(0,0,0);
        -o-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
		display: block;
		max-width: 100%;
		margin: 0 auto;
		@include t;
	}
	a{
		text-decoration: none;
		color:$black;
	}
	@include t;
}

.reference.hide{
	opacity:0.2;
	  -webkit-transform: scale(0.98);
     -moz-transform: scale(0.98);
      -ms-transform: scale(0.98);
       -o-transform: scale(0.98);
          transform: scale(0.98);
}

.hide:hover img{
	 -webkit-box-shadow: none !important;
	-moz-box-shadow:    none !important;
	box-shadow:         none !important;
}

.filter-bar{
	overflow:hidden;
	padding:1em 0;
}

.arrow_box{
	display:none;
	width:91.7%;
	margin:0 auto;
	margin-bottom:1em;
}

.filter-options{
	
	overflow:hidden;
	margin:0 auto;	
	list-style-type: none;
	text-align:center;
	background:white;
	
	li{
		width: 50%;
		float: left;
		padding:1em;
		@include t;
		
		&:nth-child(even){
			border-right:none;
		}
		&:last-child,&:nth-last-child(1){
			border-bottom:none;
		}
	}
}

#current-projects,#finished-projects{
	overflow:hidden;
}

#finished-list{
	padding-top:2em;
}

.no-touch .filter-options li:hover,.filter-options li:focus,.filter-options li.active{
	color:$blue;
	cursor:pointer;
}

#by-year::before,#by-year::after{
	left:85%;
}

 @media all and (min-width: 36.875em) {
       
 }

@media all and (min-width: 25em) {
	#value-prop a,#value-prop a:first-child{
		width: 50%;
	}
}

@media all and (min-width: 30em){
	 .reference img{
            @include image-style;
        }
	.reference{
		font-size: 0.8em;
		float: left;
		width: 50%;
		img{
			width: 95%;
		}
	}
}

@media all and (min-width: 48em) {

	.aflat{
		padding:1em 1em 0.5em 1em !important;
	}

    #value-prop a{
        text-align: center;
        display: block;
        float: left;
        width: 45% !important;
        &:first-child{
            width:45% !important;
            margin:2em 10% 0 0;
        }
        margin:2em 0;
    }
 }

 @media all and (min-width: 61.875em){
	#value-prop h1{
		padding-top:4.5em;
	}
	.reference{
		width: 33.3333%;
	}
}